.offer-button {
    font-size: x-large;
    padding: 12px 24px;
}
.button-apply {
    color: #ffffff;
    background-color: #10BC88;
}

.button-compare {
    color: #1C151B;
    background-color: #D9D9D9;

}